<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="legionrealm.legionsdksample.elite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LegionSDKSample">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.legion.APP_ID"
            android:value="PROD4bc49dfeee0d4059b4e73835aaf2e4b4"/>
        <meta-data
            android:name="com.legion.PUBLIC_KEY"
            android:value="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlKD6/ndynF63tZV7hoVA
goccOJlgybLgqXHQMD89Hf9/ZaQYAUhU7/+GKuIXsDvmngdk844R1jFVwBxQvS4y
UO1A7GJ0bIgPMapyFBsKOqKj39TAK4UzgIt7a/FnF/pKVgE9HJUI5a8QAdgXyBIe
dWGTEmXiBBMAcGFrVEOclYgCj4S5DtFbSTqlXAV2AEvGCmP1JlnwNfTU4hAmXQZF
2OfyrvvhkxPvAtfUUxonCsrm12J3ZZas8sggN6squ/OZwZUbuAq5vQUK6lB3s+BE
ez+zrruPW1iHWYMhUEa2MPQFCjQaeIZp3DF+uxqFQ/dCDSQYPAegOvotczoEvZH6
aQIDAQAB
-----END PUBLIC KEY-----"/>
    </application>
</manifest>